body {
  background-color: #3498db;
}


.wrapper {
  padding-top: 5%;
  margin: auto;
  width: 700px;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size:24px;
  display: inline-block;
}